.grid{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.turn-highlight{
    color: rgb(21, 50, 131);
}